*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    opacity: 0.3;
}

p{
    font-size: 2.3vh;
}

h1{
    font-size: 3.9vh;
}

a{
    color: rgb(75, 75, 255);
    text-decoration: none;
}

body{
    background-color: #f4f4f4;
    position: relative;
}

.header{
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #FFFFFF80;
    backdrop-filter: blur(32px);
    border-bottom: 1px solid #1f1f1f10;
    height: 8vh;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.header .logo{
    font-size: 4vh;
    font-weight: 200;
}

.container{
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container .block{
    background-color: #ffffff;
    box-shadow: 14px 0px 24px #1f1f1f03;
    border-radius: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.servers{
    color: rgb(199, 0, 76);
    font-style: italic;
}

.btn-full{
  background-color: #006ad5;
  height: 7vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 4;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  color: #fdfdfd;
}

.btn-full:hover{
  background-color: #0050be;
  color: #f1f1f1;
}